/CMake*
!/CMakeLists.txt
/*.cmake
/Makefile
/*.cpp
/include/
/ts/ts.qrc.depends
/chewing-editor.desktop
/chewing-editor
/chewing-editor.1.gz
/chewing.json
/*.a
/run-test*
/ts/*.qm
/ui_*.h
/Testing/
/coverage*
