CMake*
!CMakeLists.txt
*.cmake
Makefile

gmock/

*moc*
qrc*
*.qrc.depends

chewing-editor
chewing-editor.exe
chewing-editor.desktop
chewing-editor.1*

config.h
ui_*.h
*.json
*.a
run-test*

*.qm

coverage*

chewing-editor.dSYM/
